@import "common.scss";

html {
	font-size: 62.5%;
}
body{
	background-size:cover;
	background: url("/images/login1.jpg") no-repeat;
	animation-name:bgRouling;
    animation-duration:20s;
    animation-delay:2s;
    animation-iteration-count:infinite;
    animation-play-state:running;
}
@keyframes bgRouling
{
    0%   {background:url("/images/login1.jpg") no-repeat;}
    25%  {background:url("/images/login2.jpg") no-repeat;}
    50%  {background:url("/images/login3.jpg") no-repeat;}
    75%  {background:url("/images/login4.jpg") no-repeat;}
    100% {background:url("/images/login1.jpg") no-repeat;}
}
.loginform{
	width:calculateRem(250);
	background: rgba(255,255,255,0.2);
	margin: 0 auto;
	margin-top:calculateRem(100);
}
.logincontrol{
	margin-top:calculateRem(10);
}