<!DOCTYPE html>
<!--页面使用的语言环境-->
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  	<!--标准的视口设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title><%= title %></title>
    <!-- External CSS -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-validator/css/bootstrapValidator.min.css">
  <link rel="stylesheet" href="/stylesheets/core.min.css">
  <script src="/Jquery/jquery-3.3.1.min.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries: 这两个文件的引入是为了支持IE8下面的html5元素和媒体查询：因为在IE8下面默认不支持HTML5和媒体查询，所以需要引入两个插件-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// 如果通过file://来查看文件，那么respond.js文件不能正常工作，说明必须在http://形式下访问才有用-->
    <!--html5shiv.min.js：为了在IE8下面支持HTML标签
    respond.min.js：为了在IE8下面支持媒体查询-->
    <!--[if lt IE 9]> <!--只有IE9之前才会加载这两个文件  lt:less than-->
    <script src="/bootstrap/js/html5shiv.min.js"></script>
    <script src="/bootstrap/js/respond.js"></script>
    <![endif]-->
  </head>
  <body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/main"><h3>乐享御味-OMS系统</h3></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
  <!-- Links -->
  <ul class="navbar-nav">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        库存管理
      </a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="/stock/stock_control">货品入库</a>
        <a class="dropdown-item" href="#">批次管理</a>
         <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">库存状态配置</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        销售管理
      </a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="#">销售出货</a>
        <a class="dropdown-item" href="#">销售单据管理</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">物流状态查询</a>
         <a class="dropdown-item" href="#">物流数据配置</a>
      </div>
    </li>
    <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        客户与客户关系
      </a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="#">客户回访</a>
        <a class="dropdown-item" href="#">客户销售统计</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">客户管理</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        系统设置
      </a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="#">权限配置</a>
        <a class="dropdown-item" href="#">角色与权限</a>
        <a class="dropdown-item" href="#">用户与用户组</a>
         <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">报表计算公式</a>
      </div>
    </li>
     <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        用户设置
        <img src="/images/defult_user.jpg" style="width: 2rem;height: 2rem" class="rounded-circle" alt="Cinque Terre">
      </a>
     <div class="dropdown-menu">
        <a class="dropdown-item" href="#">修改密码</a>
        <a class="dropdown-item" href="#">修改个人信息</a>
         <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">退出系统</a>
      </div>

    </li>

  </ul>
  </div>
</nav>