<% include head.html %>
<div class="container">
	<div class="row">
	<div class="col-md-4">
		<div class="card bg-warning text-white p-2 mt-4">
		  <h5 class="card-title">待处理订单</h5>
		  <p class="card-text">
		  	<ol>
			  <li>Active item</li>
			  <li>Second item</li>
			  <li>Third item</li>
			</ol>
		  </p>
		  <a href="#" class="card-link">更多</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card col-m bg-info text-white p-2 mt-4">
		  <h5 class="card-title">待办事宜</h5>
		  <p class="card-text">
		  	<ol>
			  <li>Active item</li>
			  <li>Second item</li>
			  <li>Third item</li>
			</ol>
		  </p>
		  <a href="#" class="card-link">更多</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card col-m bg-success text-white p-2 mt-4">
		  <h5 class="card-title">已完成订单</h5>
		  <p class="card-text">
		  	<ol>
			  <li>Active item</li>
			  <li>Second item</li>
			  <li>Third item</li>
			</ol>
		  </p>
		  <a href="#" class="card-link">更多</a>
		</div>
	</div>
		
		
		
	</div>
</div>
<% include bottom.html %>