<!DOCTYPE html>
<html>
<head>
  <% include include.html %>
  <link rel="stylesheet" href="/stylesheets/main.min.css" media="all" />
</head>
<body class="main_body">
  <div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    <div class="layui-header header">
      <div class="layui-main">
        <a href="#" class="logo">乐享御味-OMS</a>
        <div class="weather">
          <iframe id="fancybox-frame" name="fancybox-frame1524197036918" frameborder="0" scrolling="no" hspace="0"  src="http://i.tianqi.com/index.php?c=code&color=%23FFFFFF&a=getcode&id=34&h=25&w=280"></iframe>
        </div>
          <!-- 顶部右侧菜单 -->
          <ul class="layui-nav top_menu">
            <li class="layui-nav-item showNotice" id="showNotice" pc>
            <a href="javascript:;"><i class="iconfont icon-gonggao"></i><cite>系统公告</cite></a>
          </li>
            <li class="layui-nav-item" mobile>
              <a href="javascript:;" data-url="page/user/changePwd.html"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>设置</cite></a>
            </li>
            <li class="layui-nav-item" mobile>
              <a href="javascript:;"><i class="iconfont icon-loginout"></i> 退出</a>
            </li>
          <li class="layui-nav-item lockcms" pc>
            <a href="javascript:;"><i class="iconfont icon-lock1"></i><cite>锁屏</cite></a>
          </li>
          <li class="layui-nav-item" pc>
            <a href="javascript:;">
              <img src="images/face.jpg" class="layui-circle" width="35" height="35">
              <cite>你好！李中星。</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;" id="main_self_modify" data-url="/user/modify_self_information"><i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i><cite>个人资料</cite></a></dd>
              <dd><a href="javascript:;" id="main_password_modify" data-url="page/user/changePwd.html"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>修改密码</cite></a></dd>
              <dd><a href="javascript:;"><i class="iconfont icon-loginout"></i><cite>退出</cite></a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black">
      <div class="user-photo">
        <a class="img" title="我的头像" ><img src="images/face.jpg"></a>
        <p>你好！<span class="userName">李中星</span>, 欢迎登录</p>
      </div>
      <div class="layui-side-scroll" id="nav_bar" lay-filter="nav_bar">
          
      </div>
    </div>
    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
      <div class="layui-tab marg0" lay-filter="tabs" id="tabs">
        <ul class="layui-tab-title top_tab">
          <li lay-id="" class="layui-this">
          <i class="iconfont icon-computer"></i>
          <cite>默认控制台</cite>
          </li>
        </ul>
        <div class="layui-tab-content clildFrame">
          <div class="layui-tab-item layui-show">
            <iframe src="/platform-default"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <% include bottom.html %>
  </div>

  <!-- 锁屏 -->
  <div class="admin-header-lock" id="lock-box" style="display: none;">
    <div class="admin-header-lock-img"><img src="images/face.jpg"/></div>
    <div class="admin-header-lock-name" id="lockUserName">请叫我马哥</div>
    <div class="input_btn">
      <input type="password" class="admin-header-lock-input layui-input" placeholder="请输入密码解锁.." name="lockPwd" id="lockPwd" />
      <button class="layui-btn" id="unlock">解锁</button>
    </div>
    <p>请输入您的密码解锁</p>
  </div>
  <!-- 移动导航 -->
  <div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
  <div class="site-mobile-shade"></div>
  <!--本页的引用-->
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>