<!DOCTYPE html>
<html>
  <head>
  <% include include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  <link rel="stylesheet" href="/layui-Plugins/z-tree/css/zTreeStyle/zTreeStyle.css">
  <script type="text/javascript" src="/echarts/echarts.min.js" charset="utf-8"></script>
  </head>
  <body style="margin: 10px;">
  <form class="layui-form" action="" id="sales_form">
  
  <fieldset class="layui-elem-field field-block">
  	<legend>
  	<select>
  		<option>七日销售情况</option>
  		<option>本月售情况</option>
  		<option>本年度销售情况</option>
  	</select>
  	</legend>
  	<div id="container" style="width: 100%;height: 400px;" ></div>
  </fieldset>
  <fieldset class="layui-elem-field field-block">
  	<legend>
  		<select>
  		<option>库存总揽</option>
  		<option>饮品类库存</option>
  		<option>食品类库存</option>
  	</select>
  	</legend>
  	<div id="treeDemo" style="width: 100%;height: 400px;" ></div>
  </fieldset>
  	
  </form>
  <script type="text/javascript">
  layui.config({
  	base: '/layui-Plugins/'
  });
  layui.use(['form','layer','table','jquery','laydate','zTree'], function() {
	var $ = layui.jquery,
	        form = layui.form,
	        table = layui.table,
	        laydate = layui.laydate,
	        layer = layui.layer,
	        zTree = layui.zTree;
			form.render();


			var setting = {
				data: {
					simpleData: {
						enable: true
					}
				}
			};

		var zNodes =[
			{ id:1, pId:0, name:"展开、折叠 自定义图标不同", open:true, iconOpen:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/1_open.png", iconClose:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/1_close.png"},
			{ id:11, pId:1, name:"叶子节点1", icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/2.png"},
			{ id:12, pId:1, name:"叶子节点2", icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/3.png"},
			{ id:13, pId:1, name:"叶子节点3", icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/5.png"},
			{ id:2, pId:0, name:"展开、折叠 自定义图标相同", open:true, icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/4.png"},
			{ id:21, pId:2, name:"叶子节点1", icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/6.png"},
			{ id:22, pId:2, name:"叶子节点2", icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/7.png"},
			{ id:23, pId:2, name:"叶子节点3", icon:"/layui-Plugins/z-tree/css/zTreeStyle/img/diy/8.png"},
			{ id:3, pId:0, name:"不使用自定义图标", open:true },
			{ id:31, pId:3, name:"叶子节点1"},
			{ id:32, pId:3, name:"叶子节点2"},
			{ id:33, pId:3, name:"叶子节点3"}

		];

		$.fn.zTree.init($("#treeDemo"), setting, zNodes);
  });
  	var dom = document.getElementById("container");
	var myChart = echarts.init(dom);
	var app = {};
	option = null;
  	app.title = '七日销售情况';

	option = {
	    tooltip : {
	        trigger: 'axis',
	        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
	            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
	        }
	    },
	    legend: {
	        data:['蓝可乐','透明奶茶','粉雪碧','小馒头','橙汁','三得利绿茶','三得利乌龙茶','三得利柠檬','其他']
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    xAxis : [
	        {
	            type : 'category',
	            data : ['2018年5月11日','2018年5月10日','2018年5月09日','2018年5月08日','2018年5月07日','2018年5月06日','2018年5月05日']
	        }
	    ],
	    yAxis : [
	        {
	            type : 'value'
	        }
	    ],
	    series : [
	        {
	            name:'蓝可乐',
	            type:'bar',
	            data:[320, 332, 301, 334, 390, 330, 320]
	        },
	        {
	            name:'透明奶茶',
	            type:'bar',
	            stack: '茶',
	            data:[120, 132, 101, 134, 90, 230, 210]
	        },
	        {
	            name:'三得利绿茶',
	            type:'bar',
	            stack: '茶',
	            data:[220, 182, 191, 234, 290, 330, 310]
	        },
	        {
	            name:'三得利乌龙茶',
	            type:'bar',
	            stack: '茶',
	            data:[150, 232, 201, 154, 190, 330, 410]
	        },
	        {
	            name:'粉雪碧',
	            type:'bar',
	            data:[862, 1018, 964, 1026, 1679, 1600, 1570],
	            markLine : {
	                lineStyle: {
	                    normal: {
	                        type: 'dashed'
	                    }
	                },
	                data : [
	                    [{type : 'min'}, {type : 'max'}]
	                ]
	            }
	        },
	        {
	            name:'小馒头',
	            type:'bar',
	            barWidth : 5,
	            stack: '零食',
	            data:[620, 732, 701, 734, 1090, 1130, 1120]
	        },
	        {
	            name:'三得利柠檬',
	            type:'bar',
	            stack: '碳酸',
	            data:[120, 132, 101, 134, 290, 230, 220]
	        },
	        {
	            name:'橙汁',
	            type:'bar',
	            stack: '碳酸',
	            data:[60, 72, 71, 74, 190, 130, 110]
	        },
	        {
	            name:'其他',
	            type:'bar',
	            stack: '零食',
	            data:[62, 82, 91, 84, 109, 110, 120]
	        }
	    ]
	};

	if (option && typeof option === "object") {
	    myChart.setOption(option, true);
	}

  </script>
  </body>
</html>