<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  </head>
  <body style="margin: 10px;">
  <form class="layui-form layui-form-pane" method="post" action="/user/saveUser" id="pass_form" lay-filter="pass_form">
      <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
          <input type="password" name="password" id="password" required autocomplete="off" placeholder="请输入旧密码" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
          <input type="password" name="newPassword" id="newPassword" required autocomplete="off" placeholder="请输入新密码" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">重复新密码</label>
        <div class="layui-input-block">
           <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" required autocomplete="off" placeholder="重复输入新密码" class="layui-input">
        </div>
      </div>
    </form>
</body>
</html>

