<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  </head>
  <body style="margin: 10px;">
  <form class="layui-form" action="" id="pass_form">
      <div class="layui-form-item">
        <div class="user-photo">
          <a class="img" title="我的头像"><img src="images/face.jpg"></a>
          <p>KenCheng</p>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-inline">
           <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">手机：</label>
        <div class="layui-input-inline">
           <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">籍贯：</label>
        <div class="layui-input-inline">
           <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">生辰：</label>
        <div class="layui-input-inline">
           <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
       <div class="layui-form-item">
        <label class="layui-form-label">常用地址：</label>
        <div class="layui-input-inline">
           <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
  </form>
</body>
</html>