<!DOCTYPE html>
<!--页面使用的语言环境-->
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  	<!--标准的视口设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title><%= title %></title>
    <!-- External CSS -->
	  <link rel="stylesheet" href="/stylesheets/print-model/form.min.css">
    <![endif]-->
    <script src="/Jquery/jquery-3.3.1.min.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries: 这两个文件的引入是为了支持IE8下面的html5元素和媒体查询：因为在IE8下面默认不支持HTML5和媒体查询，所以需要引入两个插件-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// 如果通过file://来查看文件，那么respond.js文件不能正常工作，说明必须在http://形式下访问才有用-->
    <!--html5shiv.min.js：为了在IE8下面支持HTML标签
    respond.min.js：为了在IE8下面支持媒体查询-->
    <!--[if lt IE 9]> <!--只有IE9之前才会加载这两个文件  lt:less than-->
    <script src="/Jquery/jquery-3.3.1.min.js"></script>
    <script src="/Jquery/jquery-barcode-2.0.1.js"></script>
    <script src="/Jquery/qrcode.min.js"></script>
    <script src="/Jquery/jQuery.print.min.js"></script>
    <script src="/Jquery/html2canvas.min.js"></script>
    
    <!-- <script src="/pdfmake/pdfmake.min.js"></script>
    <script src="/pdfmake/vfs_fonts.js"></script> -->


    <script type="text/javascript">
      $(function(){
        //生成
        $(".order_id_barcode").barcode("20170309XNI3321XIIN", "code93",{barWidth:1, barHeight:40});
        // 设置参数方式
        /*var qrcode = new QRCode('wx_code', {
          text: 'https://u.wechat.com/13241413155',
          width: 50,
          height: 50,
          colorDark : '#000000',
          colorLight : '#ffffff',
          correctLevel : QRCode.CorrectLevel.H
        });*/
      });
      var order_id = "20170309XNI3321XIIN";
      var printToPdf = function(){
        alert("因效果不好暂时停止使用。");
      }
      var printToPrinter = function(){
        $("#outer").print({
            globalStyles:false,//是否包含父文档的样式，默认为true
            mediaPrint:false,//是否包含media='print'的链接标签。会被globalStyles选项覆盖，默认为false
            stylesheet:null,//外部样式表的URL地址，默认为null
            noPrintSelector:".no-print",//不想打印的元素的jQuery选择器，默认为".no-print"
            iframe:true,//是否使用一个iframe来替代打印表单的弹出窗口，true为在本页面进行打印，false就是说新开一个页面打印，默认为true
            append:null,//将内容添加到打印内容的后面
            prepend:null,//将内容添加到打印内容的前面，可以用来作为要打印内容
            deferred:$.Deferred()//回调函数
        });               
      }
      var printToImg = function(){
        var shareContent = document.getElementsByClassName("outer")[0]; 
        var width = shareContent.offsetWidth; //获取dom 宽度
        var height = shareContent.offsetHeight; //获取dom 高度
        var canvas = document.createElement("canvas"); //创建一个canvas节点
        var scale = 2; //定义任意放大倍数 支持小数
        canvas.width = width * scale; //定义canvas 宽度 * 缩放
        canvas.height = height * scale; //定义canvas高度 *缩放
        canvas.style.width = width + "px";
        canvas.style.height = height + "px";
        canvas.getContext("2d").scale(scale, scale); //获取context,设置scale
        var opts = {
            scale: scale, // 添加的scale 参数
            canvas: canvas, //自定义 canvas
            // logging: true, //日志开关，便于查看html2canvas的内部执行流程
            width: width, //dom 原始宽度
            height: height,
            useCORS: true // 【重要】开启跨域配置
        };
        var context = canvas.getContext('2d');
        context.scale(2,2);
        html2canvas(document.getElementsByClassName("outer")[0],opts).then(function(canvas) {
            
            // 【重要】关闭抗锯齿
            context.mozImageSmoothingEnabled = false;
            context.webkitImageSmoothingEnabled = false;
            context.msImageSmoothingEnabled = false;
            context.imageSmoothingEnabled = false;

            var type = 'png';
            var imgData = canvas.toDataURL(type);
            // 加工image data，替换mime type
            imgData = imgData.replace(_fixType(type),'image/octet-stream');
            saveFile(imgData,order_id+"."+type);
        });   
      }

      /**
       * 获取mimeType
       * @param  {String} type the old mime-type
       * @return the new mime-type
      */
      var _fixType = function(type) {
         type = type.toLowerCase().replace(/jpg/i, 'jpeg');
         var r = type.match(/png|jpeg|bmp|gif/)[0];
         return 'image/' + r;
      };
      /**
       * 在本地进行文件保存
       * @param  {String} data     要保存到本地的图片数据
       * @param  {String} filename 文件名
       */
      var saveFile = function(data, filename){
          var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
          save_link.href = data;
          save_link.download = filename;

          var event = document.createEvent('MouseEvents');
          event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
          save_link.dispatchEvent(event);
      };

    </script>
  </head>
  <body>
        <div class="outer">
            <div class="form-contain">
              <div class="order_id_barcode">
                
              </div>
              <div class="company-title">
                北京乐享御味贸易有限公司
              </div>
              <div class="item-title">
                销售订单
              </div>
              <div class="sub-title">
                销售联系人：李中星 | 联系电话：13241413155 (010)63420059 | 微信：13241413155
                <span class="wx_code" id="wx_code" style="display: none;"></span>
              </div>
              <div>
                <table>
                    <tr>
                      <td colspan="7">客户名称：成龙（个人客户）</td>
                      <td colspan="4">订单编号：20170309XNI3321XIIN | 2018年10月13日</td>
                    </tr>
                    <tr>
                      <td colspan="7">采购联系人：成龙 | 电话：18611699091</td>
                      <td  colspan="4">付款方式：对公全额付款 </td>
                    </tr>
                    <tr>
                      <td colspan="7">收货信息：北京市东城区朝内大街188号 成龙 18611699091 030001</td>
                     <td colspan="4">客户收货要求：货到自提点</td>
                    </tr>
                    <tr>
                      <td colspan="7">发票寄至：北京市东城区朝内大街188号 成龙 18611699091 030001</td>
                      <td colspan="4">物流付款方式：客户自付</td>
                    </tr>
                  </table>
                  <table>
                    <thead>
                     <tr>
                      <th colspan="11">订购列表</th>
                    </tr>
                    <tr>
                      <th nowrap="nowrap">序号</th>
                      <th>品名</th>
                      <th>规格</th>
                      <th>条码</th>
                      <th>产地</th>
                      <th>保质期</th>
                      <th>重量（kg）</th>
                      <th>体积（M3）</th>
                      <th>价格（元）</th>
                      <th>订购数量</th>
                      <th>搭赠</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>

                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr style="text-align: center;" nowrap="nowrap">
                    <td>1</td>
                    <td nowrap="nowrap">透明红茶</td>
                    <td nowrap="nowrap">瓶装500ml*24/箱</td>
                    <td>40011923</td>
                    <td>日本</td>
                    <td>24个月</td>
                    <td>34/箱|1200</td>
                    <td>0.1/箱|120</td>
                    <td>28元/箱|8640元</td>
                    <td>20箱</td>
                    <td>无</td>
                  </tr>
                  <tr>
                    <th colspan="1">合计</th>
                    <td colspan="10"><b>
                      共计：1类商品 | 
                      总箱数：20箱 | 
                      总重量：405KG | 
                      总体积：0.681M3 | 
                      订单总价（¥）：8640元
                      </b>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="1">注意</th>
                    <td colspan="10">
                      <b>
                        请务必确认货品完好无损再签收，否则我司概不负责，由此带来的不便敬请谅解！
                        如对货品有疑议，请及时与我司销售联系人联络。食品饮料品类属特殊商品，一旦签收，无法退换。
                      </b>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="1">备注</th>
                    <td colspan="10">
                      交货期：预计2018年4月17日发货，最终交货时间根据实际到货与物流情况、由卖方具体安排。
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="sign-company">
                <div class="sign-float sign-seal">
                    <img src="/images/seal/lxyw-seal2.png">
                </div>
                <div class="sign-float sign-signature">
                  <img src="/images/seal/mingzi.png">
                </div>
                <div class="sign-float sign-signature">
                    北京乐享御味贸易有限公司
                </div>
              </div>
            </div>
      </div>
      <div class="float-bar no-print">
        <a onclick="printToImg();" href="javascript:void(0);">[导出订单图片]</a>
        <a onclick="printToPdf();" href="javascript:void(0);">[导出订单PDF]</a>
        <a onclick="printToPrinter();" href="javascript:void(0);">[打印]</a>
      </div>
  </body>
</html>