<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  <script type="text/javascript" src="/javascripts/stock/stock_edit.js"></script>
  </head>
  <body>
<form class="layui-form" action="" id="stock_form">
    <fieldset class="layui-elem-field field-block" style="max-width: 700px;">
    <legend class="form-label">产品基本信息</legend>
      <%if(msg.data && msg.data != ""){%>
        <input type="hidden" name="stock_id" id="stock_id" value="<%=msg.data.id%>"> 
        <!--联系人先存在hidden里，然后js转成对象后js调用新增即可-->
        <input type="hidden" id="feeList" name="feeList" value='<%=msg.data.stockListFeeList%>'>
      <%}%>
     <div class="layui-form-item">
      <div class="layui-inline">
          <label class="layui-form-label">品名：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="productName" id="productName"  autocomplete="off" class="layui-input"

              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductName%>"
               <%}%>
            >
          </div>
          <label class="layui-form-label">批次：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="productBatch" id="productBatch" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductBatch%>"
               <%}%>
            >
          </div>
      </div>
       <div class="layui-inline">
          <label class="layui-form-label">条形码：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="qno" id="qno" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductQno%>"
               <%}%>
            >
          </div>
          <label class="layui-form-label">产地：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="location" id="location" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductLocation%>"
               <%}%>
            >
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">生产日期：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="productDate" id="productDate" autocomplete="off" class="layui-input"

              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockManufactureDateStr%>"
               <%}%>
            >
          </div>
          <label class="layui-form-label">到期日：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="deadDate" id="deadDate" autocomplete="off" class="layui-input"
                <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockExpireDateStr%>"
               <%}%>

            >
          </div>
        </div>
       <div class="layui-inline">
          <label class="layui-form-label">入库数量：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="stock_num_input" id="box_num" autocomplete="off" class="layui-input"
`               <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductNum%>"
               <%}%>

            >
          </div>
          <label class="layui-form-label">单位：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <select name="positon" lay-verify="">
              <%if(msg.data && msg.data != ""){%>
                    <option selected="true"><%=msg.data.stockProductPosition%></option>
               <%}%>
              <option value="箱">箱</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">非整件品：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="stock_num_input" id="plus_num" autocomplete="off" class="layui-input"
                <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductPlusNum%>"
               <%}%>
            >
          </div>
          <label class="layui-form-label">单位：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <select name="plusPosition" id="plusPosition" lay-verify="">
              <%if(msg.data && msg.data != ""){%>
                    <option selected="true"><%=msg.data.stockProductPlusPosition%></option>
               <%}%>
              <option value="箱">个</option>
              <option value="瓶">瓶</option>
              <option value="件">件</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">每<em class="label-trans">箱</em>个数：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="stock_num_input" id="format_num" autocomplete="off" class="layui-input"
                <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductFormatNum%>"
               <%}%>

            >
          </div>
          <label class="layui-form-label">保质期：</label>
          <div class="layui-input-inline" style="width: 210px;">
            <input type="text" name="guaranteeTime" id="guaranteeTime" autocomplete="off" class="layui-input"
                <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductGuaranteeTime%>"
               <%}%>

            >
          </div>
        </div>
         <div class="layui-inline">
            <label class="layui-form-label">单件重-kg：</label>
            <div class="layui-input-inline" style="width: 210px;">
              <input type="text" name="singleNetWeight" id="singleNetWeight" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductSingleNetweight%>"
               <%}%>

              >
            </div>
            <label class="layui-form-label" style="min-width: 120px;">单件体积-m3：</label>
            <div class="layui-input-inline" style="width: 170px;">
              <input type="text" name="singleCapacity" id="singleCapacity" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductSingleCapacity%>"
               <%}%>

              >
            </div>
          </div>
     </div>
</fieldset>
<fieldset class="layui-elem-field field-block" style="max-width: 1024px;">
    <legend class="form-label">成本费用</legend>
    <div class="layui-form-item">
        <div class="layui-inline">
          <button type="button" class="layui-btn layui-btn-small  layui-btn-sm" style="margin-left: 15px;" id="addFeeBtn"> <i class="layui-icon">&#xe654;</i>增加费用</button>
        </div>
    </div>
    <div class="layui-form-item">
      <div id="fee_container">

      </div>
      <div class="layui-inline">
        <label class="layui-form-label">总成本：</label>
        <div class="layui-input-inline" style="min-width: 100px;">
          <span class="highlight" id="total_fee">0.00元</span>
        </div>
        <label class="layui-form-label">单品成本：</label>
        <div class="layui-input-inline" style="min-width: 100px;">
          <span class="highlight" id="everage_fee">0.00元</span>
        </div>
      </div>
      </div>
</fieldset>
<fieldset class="layui-elem-field field-block">
    <legend class="form-label">库存操作</legend>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">库存状态：</label>
        <div class="layui-input-inline" style="min-width: 100px;">
           <select name="state" id="state" lay-verify="">
            <%
              if(msg.data && msg.data){

                if(msg.data.stockProductStatus == "0"){
                    %>
                      <option value="0" selected="true">在途（可预售）</option>
                      <option value="1">在售</option>
                      <option value="2">已售罄</option>
                      <option value="3">退货（在途）</option>
                      <option value="4">已退货</option>
                    <%
                }else if(msg.data.stockProductStatus == "1"){
                    %>
                      <option value="1" selected="true">在售</option>
                      <option value="2">已售罄</option>
                      <option value="3">退货（在途）</option>
                      <option value="4">已退货</option>
                    <%
                }else if(msg.data.stockProductStatus == "2"){
                    %>
                      <option value="2" selected="true">已售罄</option>
                      <option value="3">退货（在途）</option>
                      <option value="4">已退货</option>
                    <%
                }else if(msg.data.stockProductStatus == "3"){
                    %>
                      <option value="3" selected="true">退货（在途）</option>
                      <option value="4">已退货</option>
                    <%
                }else if(msg.data.stockProductStatus == "4"){
                    %>
                      <option value="4" selected="true">已退货</option>
                    <%
                }

              }else{
                  %>
              <option value="0" selected="true">在途（可预售）</option>
              <option value="1">在售</option>
              <option value="2">已售罄</option>
              <option value="3">退货（在途）</option>
              <option value="4">已退货</option>                  <%
              }

            %>
          </select>
        </div>
        <label class="layui-form-label">使用仓库：</label>
       <div class="layui-input-inline" style="min-width: 90px;">
         <select name="storage" id="storage" lay-verify="">
          <%if(msg.data && msg.data != ""){%>
             <option selected="true"><%=msg.data.stockProductStorage%></option>
          <%}%>
          <option>在途销售|无库存</option>
          <option>默认库存|青岛</option>
        </select>
      </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">损耗个数：</label>
        <div class="layui-input-inline" style="min-width: 100px;">
           <input type="text" name="stock_num_input" id="wastage" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductWastage%>"
               <%}%>

           >
        </div>
        <label class="layui-form-label">库存费：</label>
        <div class="layui-input-inline" style="min-width: 100px;">
           <input type="text" name="storage_fee" id="storage_fee" autocomplete="off" class="layui-input"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductStorageFee%>"
               <%}%>
           >
        </div>
    </div>
    </div>
</fieldset>
<fieldset class="layui-elem-field field-block">
    <legend class="form-label">供应商</legend>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">供货商：</label>
        <div class="layui-input-inline" style="min-width: 100px;width: 400px;">
            <input type="text" name="supplierName" autocomplete="off" class="layui-input" id="supplier_select_input" readonly="true"
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.supplierSubjectName%>"
               <%}%>
            >
            <input type="hidden" name="supplierId" id="supplierId" 
              <%if(msg.data && msg.data != ""){%>
                    value="<%=msg.data.stockProductSupplierSubjectId%>"
               <%}%>
            />
        </div>
        <div class="layui-form-label">
            <a href="javascript:;" id="selectSupplier_show" class="layui-btn layui-btn-xs layui-btn-warm">
              <i class="layui-icon">&#xe615;</i> 筛选供应商
            </a>
        </div>
      </div>
    </div>
</fieldset>
</form>
<div id="supplier_select" style="display: none;">
  <div style="margin-top: 15px;">
  <form class="layui-form">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label" style="width: 100px;">供货商名称：</label>
          <div class="layui-input-inline" style="min-width: 200px;">
             <input type="text" name="supplierNameSelect" id="supplierNameSelect" autocomplete="off" class="layui-input">
          </div>
          <span>
            <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-warm" id="searchSelectSupplierBtn" style="margin-top: 4px;">
              <i class="layui-icon">&#xe615;</i> 搜索
            </a>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div id="supplier_select_List" lay-filter="supplier_select_List"></div>
  <script type="text/html" id="table_control_bar">
    <a class="layui-btn layui-btn-sm" lay-event="selectSupplierBtn">选择此供应商</a>
  </script>
</div>
</body>
</html>

