<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/sales/sales.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  </head>
  <body>
	<fieldset class="layui-elem-field field-block table-block">
		<legend class="form-label">基本信息</legend>
			<table class="layui-table display-table">
				<tr>
					<th>品名</th>
					<td><%=msg.data.stockProductName%></td>
					<th>条形码</th>
					<td><%=msg.data.stockProductQno%></td>
					<th>批次</th>
					<td><%=msg.data.stockProductBatch%></td>
				</tr>
				<tr>
					<th>规格</th>
					<td>
							<%if(msg.data.stockProductPlusPosition == "瓶"){%>
								<%=msg.data.stockProductSingleCapacity+"ml * "+msg.data.stockProductFormatNum+msg.data.stockProductPlusPosition+"/"+msg.data.stockProductPosition%>
							<%}else{%>
								<%=msg.data.stockProductSingleNetweight+"kg * "+msg.data.stockProductFormatNum+"/"+msg.data.stockProductPlusPosition+msg.data.stockProductPosition%>
							<%}%>
					</td>
					<th>入库量</th>
					<td></td>
					<th>当前状态</th>
					<td>入库</td>
				</tr>
			</table>
	</fieldset>
  </body>
</html>