<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  </head>
  <body>
<div style="margin-top: 15px;">
  <form class="layui-form">
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label" style="width: 100px;">供货商名称：</label>
        <div class="layui-input-inline" style="min-width: 200px;">
           <input type="text" name="" autocomplete="off" class="layui-input">
        </div>
        <span>
          <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-warm" id="searchSupplier" style="margin-top: 4px;">
            <i class="layui-icon">&#xe615;</i> 搜索
          </a>
        </span>
      </div>
    </div>
  </form>
</div>
<div id="supplier_List">
</div>
</body>
</html>