<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  <script type="text/javascript" src="/javascripts/stock/stock_control.js"></script>
  </head>
    <div class="admin-main">
      <div class="form-search">
      <form class="layui-form" id="search_stock_form" name="search_stock_form" lay-filter="search_stock_form">
       <div class="layui-inline">
          <label>品名：</label>
          <div class="layui-input-inline" style="width: 200px;">
            <input type="text" name="productName_search" id="productName_search" placeholder="" autocomplete="off" class="layui-input">
          </div>
          <label>状态：</label>
          <div class="layui-input-inline" style="width: 180px;">
           <select name="productStatus_search" id="productStatus_search" lay-verify="">
              <option value="" selected="true">全部</option>
              <option value="0">在途（可预售）</option>
              <option vakue="1">在售</option>
              <option value="2">已售罄</option>
              <option value="3">退货（在途）</option>
              <option value="4">已退货</option>
            </select>
          </div>
          <label>入库日期：</label>
          <div class="layui-input-inline" style="width: 220px;">
            <input type="text" name="stock_search_date" id="stock_search_date" placeholder="" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline form-right">
          <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-warm" id="search">
            <i class="layui-icon">&#xe615;</i> 搜索
          </a>
          <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-normal" id="add">
            <i class="layui-icon">&#xe608;</i> 货品入库
          </a>
        </div>
        </form>
      </div>
      <div id="table_content">
      </div>
      <div id="table_content" lay-filter="user_table_filter"></div>
      <script type="text/html" id="table_control_bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
  </body>
</html>