<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/sales/sales.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  </head>
  <body>
	<fieldset class="layui-elem-field field-block table-block">
		<legend class="form-label">库存状态修改</legend>
			<table class="layui-table display-table">
				<tr>
					<th>商品名称</th>
					<td>20180901189032MXL</td>
					<th>入库日期</th>
					<td>2018年5月18日</td>
					<th>库存量</th>
					<td>北京乐享御味贸易有限公司</td>
				</tr>
				<tr>
					<th>规格</th>
					<td>20180901189032MXL</td>
					<th>总费用</th>
					<td>20180901189032MXL</td>
					<th>当前状态</th>
					<td>入库</td>
				</tr>
			</table>
	</fieldset>
  </body>
</html>