<div class="admin-main">
      <form class="layui-form">
          <fieldset class="layui-elem-field field-block">
          <legend class="form-label">产品基本信息</legend>
           <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">品名：</label>
                <div class="layui-input-inline" style="min-width: 450px;">
                  <input type="text" name="" autocomplete="off" class="layui-input">
                </div>
              </div>
          </div>
          <div class="layui-form-item">
             <div class="layui-inline">
                <label class="layui-form-label">条形码：</label>
                <div class="layui-input-inline" style="width: 210px;">
                  <input type="text" name="" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">产地：</label>
                <div class="layui-input-inline" style="width: 120px;">
                  <input type="text" name="" autocomplete="off" class="layui-input">
                </div>
              </div>
          </div>
      </fieldset>
      </form>
</div>
