<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/stock/stock.min.css">
  <script type="text/javascript" src="/javascripts/stock/stock_control.min.js"></script>
  </head>
    <div class="admin-main">
      <div class="form-search">
      <form class="layui-form">
       <div class="layui-inline">
          <label class="form-label">品名：</label>
          <div class="layui-input-inline" style="width: 200px;">
            <input type="text" name="price_min" placeholder="" autocomplete="off" class="layui-input">
          </div>
          <label class="form-label">状态：</label>
          <div class="layui-input-inline" style="width: 100px;">
           <select name="city" lay-verify="">
              <option value="100" selected="true">全部</option>
              <option value="0">在途</option>
              <option value="1">在售</option>
              <option value="-1">售罄</option>
            </select>     
          </div>
          <label class="form-label">入库日期：</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="stock_date" placeholder="" autocomplete="off" class="layui-input" id="date1" onclick="layui.laydate({elem: this})">
          </div>-
           <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="stock_date" placeholder="" autocomplete="off" class="layui-input" id="date2" onclick="layui.laydate({elem: this})">
          </div>
        </div>

        <div class="layui-inline form-right">
          <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-warm" id="search">
            <i class="layui-icon">&#xe615;</i> 搜索
          </a>
          <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-normal" id="add">
            <i class="layui-icon">&#xe608;</i> 添加信息
          </a>
        </div>
        </form>
      </div>
      <div class="layui-field-box" id="table_content">
      </div>
  </body>
</html>