<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  <script type="text/javascript" src="/javascripts/sales/customer_edit.js"></script>
  </head>
  <body>
	<form class="layui-form" action="" id="sales_form">
		<fieldset class="layui-elem-field field-block">
		    <legend class="form-label">客户信息</legend>
		    <div class="layui-form-item">
			    <div class="layui-inline">
		          <label class="layui-form-label">客户名称：</label>
		          <div class="layui-input-inline" style="min-width: 520px;">
		            <input type="text" name="customer_name" id="customer_name" autocomplete="off" class="layui-input">	
		          </div>
		        </div>
		    </div>
		     <div class="layui-form-item">
		     	<div class="layui-inline">
		     		<label class="layui-form-label">客户类别：</label>
		     		<div class="layui-input-inline">
		            	<select name="customer_type">
			              <option selected="true">企业</option>
			              <option>个人</option>
			            </select>     
			          </td>
		          	</div>
		        </div>
		    </div>
			<div class="layui-form-item">
				<div class="layui-inline">
		     		<label class="layui-form-label" style="width: 85px;">公司电话：</label>
		     		<div class="layui-input-inline">
		     			<input type="text" name="customer_transport_fee" autocomplete="off" class="layui-input">
		     		</div>
		        </div>
		        <div class="layui-inline">
		     		<label class="layui-form-label" style="width: 85px;">服务邮箱：</label>
		     		<div class="layui-input-inline">
		     			<input type="text" name="customer_transport_fee" autocomplete="off" class="layui-input">
		     		</div>
		        </div>
			</div>
		    <div class="layui-form-item">
			    <div class="layui-inline">
		          <label class="layui-form-label">公司地址：</label>
		          <div class="layui-input-inline" style="width: 520px;">
		            <textarea name="transport_address" autocomplete="off" class="layui-textarea"></textarea>
		          </div>
		        </div>
		    </div>
		    <div class="layui-form-item">
			    <div class="layui-inline">
		          <label class="layui-form-label">备注：</label>
		          <div class="layui-input-inline" style="width: 520px;">
		            <textarea name="remarks" autocomplete="off" class="layui-textarea" placeholder=""></textarea>
		          </div>
		        </div>
		    </div>
		</fieldset>
		<fieldset class="layui-elem-field field-block">
		   <legend class="form-label">采购联系人</legend>
		   <div class="layui-form-item" style="margin-left: 10px;">
		        <button id="addNewCusBtn" type="button" class="layui-btn layui-btn-small layui-btn-normal"><i class="layui-icon ">&#xe608;</i>新增采购(收货)联系人</button>
		        <table class="layui-table" id="cus_table_container" lay-filter="cus_table_container"></table>
		    </div>
		</fieldset>
	</form>


<script type="text/html" id="addCustom">
   <form class="layui-form layui-form-pane" id="contact_form" lay-filter="contact_form" style="margin: 10px;">
    <input type="hidden" name="id" id="tmp_add_id">
     <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input type="text" name="name" id="tmp_add_name" required autocomplete="off" placeholder="请输入联系人姓名" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">移动电话</label>
        <div class="layui-input-block">
          <input type="text" name="cellphoneNo" id="tmp_add_cellphoneNo" required autocomplete="off" placeholder="请输入联系人电话"  class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Email</label>
        <div class="layui-input-block">
          <input type="text" name="email" id="tmp_add_email" required autocomplete="off" placeholder="请输入联系人Email" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">收货地址</label>
        <div class="layui-input-block">
          <input type="text" name="address" id="tmp_add_address" required autocomplete="off" placeholder="收货地址" class="layui-input">
        </div>
      </div>
   </form>
</script>
    <script type="text/html" id="table_control_bar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deletCusbtn">删除</a>
    </script>
  </body>
</html>