<!DOCTYPE html>
<html>
  <head>
  <% include ../include.html %>
  <link rel="stylesheet" href="/stylesheets/sales.min.css">
  <link rel="stylesheet" href="/stylesheets/form.min.css">
  <script type="text/javascript" src="/javascripts/sales/sales_edit.js"></script>
  </head>
  <body>
	<form class="layui-form" action="" id="product_form">
		<fieldset class="layui-elem-field field-block">
		    <legend class="form-label">基础信息</legend>
		</fieldset>
		<fieldset class="layui-elem-field field-block">
		    <legend class="form-label">订购列表</legend>
		</fieldset>
		<fieldset class="layui-elem-field field-block">
		    <legend class="form-label">销售人信息</legend>
		</fieldset>
	</form>
  </body>
</html>